{% extends 'base.html.twig' %}

{% block title %}page non trouvée{% endblock %}


{% block body %}
    <h1>Page non trouvée</h1>

    <p class="h5">
        La page demandée n'a pas été trouvée. Vérifiez que l'URL est correcte.
    </p>
    <p>
        <a class="btn btn-light" href="{{ path('homepage') }}">
            <i class="bi bi-house-door-fill"></i>
            Revenir à la page d'accueil</a>
    </p>
{% endblock %}