{% extends 'base.html.twig' %}

{% block title %}page non trouvée{% endblock %}

{% block body %}
    <h1>Error</h1>

    <p class="h5">
        Une erreur est survenue. Vérifiez l'URL ou réessayez plus tard.
    </p>
    <p>
        <a class="btn btn-light" href="{{ path('homepage') }}">
            <i class="bi bi-house-door-fill"></i>
            Revenir à la page d'accueil</a>
    </p>
{% endblock %}